@model IEnumerable<Ontap.Data.TranDau>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoiBong1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiBong2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanVanDong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoiBong1.MaDoiBong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiBong2.MaDoiBong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanVanDong.MaSan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTranDau">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTranDau">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTranDau">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
